#test_form{
    display:flex;
    margin: auto;
    padding: auto;
    text-align: center;
    height: 700px;
    width: 100%;
}

#form_content{
    display :inline-block;
    border: 1px solid black;
}